* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}

body {
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: end;
    transition: transform 0.3s;
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.8s;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 22px 28px;
    text-decoration: none;
    transition: .35s;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    transition: .35s;
}

.navbar-arrow-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.navbar-arrow {
    display: inline-block;
    color: darkslategray;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    transition: transform .3s;
}

.navbar-arrow-hidden {
    transform: translateY(-100%);
    transition: transform 0.5s;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    cursor: default;
}

h2 {
    width: 50%;
    cursor: default;
    margin-bottom: 25px;
}

#resources-info {
    width: 80%;
    margin-bottom: 25px;
    text-decoration: none;
}

a#resources-info:hover{
    text-decoration: underline;
}

p {
    margin: 15px;
    font-size: 15px;
    line-height: 1.6;
    width: 50%;
    cursor: default;
}

.iframe-wrapper {
    margin-top: 130px;
    margin-bottom: 50px;
    width: 80%;
}

#break {
    margin-bottom: 60px;
}

.bib-content p {
    margin: 5px;
}

.bib-content {
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fade {
    opacity: 0;
    transform: translateY(70px);
    visibility: hidden;
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}
  
.fade.in-view {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}