* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}

body {
    background-color: #fff;
}

a {
    font-family: 'Patrick Hand', serif;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

iframe {
    width: 80%;
    display: block;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: end;
    transition: transform 0.3s;
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.8s;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 22px 28px;
    text-decoration: none;
    transition: .35s;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    transition: .35s;
}

.navbar-arrow-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.navbar-arrow {
    display: inline-block;
    color: darkslategray;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    transition: transform .3s;
}

.navbar-arrow-hidden {
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slides {
    width: 100%;
    height: 100vh;
    color: black;
    background-color: white;
    scroll-snap-align: start;
}

h2 {
    font-size: calc(8px + 2vw + 2vh);
    cursor: default;
}

p {
    line-height: 1.5;
    font-size: calc(2px + 1vw + 1vh);
    cursor: default;
}

.slides img {
    width: 550px;
}

.slide1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slide1 p {
    font-family: 'Patrick Hand', sans-serif;
    margin-top: 25px;
    font-size: 30px;
}

.info {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.info p {
    font-family: 'Patrick Hand', serif;
    font-size: 15px;
    margin-right: 150px;
    transition: transform 0.3s ease;
}

.info img {
    margin-top: -20px;
    transform: rotate(-100deg);
    width: 70px;
    transition: transform 0.3s ease;
}

.info:hover :first-child {
    transform: rotate(-100deg) scale(1.2);
    transition: transform 0.3s ease;
}

.info:hover :last-child {
    transform: scale(1.2) translateX(10px) translateY(3px);
    transition: transform 0.3s ease;
}
  
.slide2 {
    display: grid;
    grid-template-columns: .1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
}

.column-wrapper {
    margin-top: -80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

#banner {
    width: 70%;
    height: 50%;
}

.slide2 p {
    width: 80%;
    font-size: 20px;
    text-align: start;
}

.slide3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#wrapper {
    width: 80%;
}
  
.slide4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.slide5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.slide5 p {
    width: 80%;
}

.slide6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    text-align: center;
}

.slide6 h2 {
    margin-bottom: 60px;
}

.slide6 p {
    width: 80%;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide4 .left {
    flex-direction: column;
    justify-content: space-between;
}

.fade {
    opacity: 0;
    transform: translateY(50px);
    visibility: hidden;
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}
  
.fade.in-view {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}